<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecordVoice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5A869581C97DF2300123B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5A8696C1C97DF2400123B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5A869771C97DF2400123B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
